.swiper-slide {
  position: relative;
  padding-top: 20px;
}

.swiper-slide .content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 2;
}

.swiper-slide .content h2 {
  text-transform: uppercase;
  font-size: 1vw;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.4vw;
}
.swiper-slide .content h4 {
  text-transform: capitalize;
  font-size: 3vw;
  color: var(--main_color);
  font-weight: bolder;
  margin-bottom: 30px;
  line-height: 1.1;
}
.swiper-slide .content p {
  font-size: 1.1vw;
  margin-bottom: 2.5vw;
  margin-top: 2.5vw;
}
