@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
 

}

:root{
  --main_color:#0090f0;
  --p_color: #7b7b7b;
  --bg_color:#f3f3f3;
  --white_color:#fff;
  --color_heading:#253237;
  --border_color:#d6d6d6d5;
}
body{
  background-color: var(--white_color);
 
      font-family: "Inter", sans-serif;
}
/* img{
  width: 100%;
} */
h1,h2,h3,h4,h5,h6{
  color: var(--color_heading);
  font-family: 'DM Sans', sans-serif;
}
span{
  color:var(--main_color)
}
p{
  color: var(--p_color);
  
}
input,button,textarea,select{
outline: none;
border: none;
}
a{
  text-decoration: none;
}
.container{
  width: 90%;
  margin: 0 auto;
 min-width: 1350px;
}
.btn{
  padding: 10px 18px;
  text-transform: capitalize;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--main_color);
  color: var(--white_color);
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
  width: max-content;
  border-radius: 30px;
}
.btn:hover{
scale: 1.1;}




.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #4f46e5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
